/* Colors */

/* Footer */
.footer {
    background-color: #0072b5;
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    text-decoration: none;
    color: #c7c7c7;
}

/* Header */
.header {
    background-color: #0072b5;
}